/* html,
body {
  padding: 20px;
  background-color: gray;
} */

body {
  padding: 20px;
  background-color: gray;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  display: block;
  color: white;
}
